html .topbar {
  background-color: $toolbar;
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

.topbar-dd {
  min-width: 200px !important;
}

.object-cover {
  object-fit: cover;
}


.mat-mdc-menu-panel.mat-mdc-menu-panel {
  box-shadow: $box-shadow !important;
}

.house-form {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.w-100 {
  width: 100% !important;
}

.form-field {
  padding-right: 15px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.justify-content-between {
  justify-content: space-between;
}

.carousel-inner {
  max-height: 435px;
}


.picsum-img-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111c2d;
}

.classified .mat-mdc-card-content {
  padding: 0;
}
