<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <a [routerLink]="['/']">
    <img ngSrc="./assets/images/logos/dark-logo.svg" class="align-middle" alt="logo" height="50"
         width="50"/>
  </a>
  <span class="flex-1-auto"></span>
  <h2>{{ pageTitle }}</h2>
  <span class="flex-1-auto"></span>
  <a [routerLink]="['classified/create']" mat-icon-button aria-label="Home">
    <i-tabler class="d-flex" name="home-plus"></i-tabler>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications"
          class="m-l-10">
    <img ngSrc="/assets/images/profile/user-4.jpg" class="rounded-circle object-cover" alt="" fill/>
  </button>
  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <a [routerLink]="['classified/create']" mat-menu-item>
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="home-plus" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      Create Classifieds
    </a>
    <a [routerLink]="['profile/my-classifieds']" mat-menu-item>
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="home-signal" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      My Classifieds
    </a>
    <a [routerLink]="['profile/my-favorites']" mat-menu-item>
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="heart" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      My Favorites
    </a>
    <a [routerLink]="['profile/settings']" mat-menu-item>
      <mat-icon class="d-flex align-items-center">
        <i-tabler name="settings" class="icon-18 d-flex"></i-tabler>
      </mat-icon>
      Settings
    </a>
    <mat-divider></mat-divider>
    <div class="p-x-12 m-t-12">
      <button (click)="onLogout()" mat-flat-button color="primary" class="w-100">
        Logout
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
