<div class="row" *ngIf="classifieds && classifieds.length != undefined && classifieds.length>0">
  <div class="col-sm-6 col-lg-3" *ngFor="let property of classifieds">
    <mat-card
      [routerLink]="['/classified/detail/'+property.slug]"
      class="cardWithShadow productcard overflow-hidden cursor-pointer">
      <div class="d-flex text-center position-absolute z-1 bg-danger m-3 text-light p-2 end-0">
        {{ property.type + ' / ' + property.category }}
      </div>
      <img
        src="{{ property.images.length>0 ? environment.server+property.images[0].path:'/assets/images/products/p1.jpg' }}"
        alt="imgSrc"
        class="img-thumbnail"
        mat-card-image
      />
      <mat-card-content class="p-b-24 p-t-12 position-relative">
        <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{
            property.title
          }}
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="d-flex align-items-center justify-content-between mt-2">
          <div class="d-flex align-items-center">
            <h6 class="mat-body-2 f-w-600">{{ property.price }} ₺</h6>
          </div>
          <div class="m-l-auto d-flex gap-4">
            {{ property.roomNumber + ' + ' + property.livingRoomNumber }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="row" *ngIf="classifieds && classifieds.length != undefined && classifieds.length==0">
  <div class="col-12">
    <div class="alert alert-primary text-center">Properties not found</div>
  </div>
</div>
<div class="row" *ngIf="!classifieds">
  <div class="col-12">
    <div class="d-flex justify-content-center align-items-center h-100">
      <i-tabler name="loader" class="icon-24"></i-tabler>
    </div>
  </div>
</div>
