<mat-card class="classified">
  <mat-card-header class="mat-mdc-card-header-detail">
    <mat-card-title>{{ classified?.title }}</mat-card-title>
    <mat-card-subtitle>{{ classified?.price | number:'1.0-0' }} TL</mat-card-subtitle>
    <div class="flex-1-auto"></div>
    <button mat-icon-button (click)="favorite()"
            matTooltip="{{this.classified?.isFavorite ? 'Favorite Remove' : 'Favorite Add'}}"
            color="{{this.classified?.isFavorite ? 'primary' : 'secondary'}}"
            aria-label="Favorite Button">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="shareClassified()" matTooltip="Share"
            aria-label="Share Button">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    @if (images) {
      <div *ngIf="images && images.length > 0" class="classified-slider">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let image of images">
            <div class="picsum-img-wrapper">
              <img [src]="image" alt="Classified image"/>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    }
    <mat-tab-group>
      <mat-tab label="Property Details">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Price</span>
            <span matListItemLine>{{ classified?.price | number:'1.0-0' }} TL</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Type</span>
            <span matListItemLine>{{ classified?.type }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Category</span>
            <span matListItemLine>{{ classified?.category }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Room Number</span>
            <span matListItemLine>{{ classified?.roomNumber }}
              + {{ classified?.livingRoomNumber }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Gross Area</span>
            <span matListItemLine>{{ classified?.grossArea }} m²</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Net Area</span>
            <span matListItemLine>{{ classified?.netArea }} m²</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Building Age</span>
            <span matListItemLine>{{ classified?.buildingAge }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Floor Location</span>
            <span matListItemLine>{{ classified?.floorLocation }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Total Floor</span>
            <span matListItemLine>{{ classified?.totalFloor }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Is Furnished</span>
            <span matListItemLine>{{ classified?.isFurnished ? 'Yes' : 'No' }}</span>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Descriptions">
        <div class="container">
          <div class="d-flex justify-content-center align-items-center text-center"
               [innerHTML]="formattedText(classified?.description)">
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Contacts">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Firstname</span>
            <span matListItemLine>{{ classified?.user?.firstname }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Lastname</span>
            <span matListItemLine>{{ classified?.user?.lastname }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Email</span>
            <a href="mailto:{{ classified?.user?.email }}"
               matListItemLine>{{ classified?.user?.email }}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Phone</span>
            <a href="tel:+90{{ classified?.user?.phone }}"
               matListItemLine>+90 {{ classified?.user?.phone }}</a>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
