<mat-card>
  <mat-card-header class="mat-mdc-card-header-detail">
    <mat-card-title>BURSA HAMİTLER SATILIK 2+1 LÜKS DAİRE</mat-card-title>
    <mat-card-subtitle>1.000.000 TL</mat-card-subtitle>
    <div class="flex-1-auto"></div>
    <button mat-icon-button matTooltip="Favorite Add" color="primary"
            aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share" aria-label="Example icon-button with a share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Classified Details">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>Price</span>
            <span matListItemLine>1.000.000 TL</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Location</span>
            <span matListItemLine>Bursa, Hamitler</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Category</span>
            <span matListItemLine>Real Estate</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Sub Category</span>
            <span matListItemLine>Apartment</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Ad Type</span>
            <span matListItemLine>For Sale</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <span matListItemTitle>Area</span>
            <span matListItemLine>100 m²</span>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Descriptions"> Content 2</mat-tab>
      <mat-tab label="Contacts"> Content 2</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
